/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.p {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}
